<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>App</title>
      <link rel="stylesheet" href="assets/video.css">
      <link rel="stylesheet" href="assets/vendors/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css ">
      <link rel="stylesheet" href="assets/vendors/nprogress/nprogress.css ">
      <link rel="stylesheet" href="assets/vendors/iCheck/skins/flat/green.css ">
      <link rel="stylesheet" href="assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css ">
      <link rel="stylesheet" href="assets/vendors/jqvmap/dist/jqvmap.min.css ">
      <link rel="stylesheet" href="assets/build/css/custom.min.css ">
      <link rel="stylesheet" href="assets/vendors/animate.css/animate.min.css ">
      <link rel="stylesheet" href="assets/vendors/normalize-css/normalize.css ">
      <link rel="stylesheet" href="assets/vendors/ion.rangeSlider/css/ion.rangeSlider.css ">
      <link rel="stylesheet" href="assets/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css ">
      <link rel="stylesheet" href="assets/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css ">
      <link rel="stylesheet" href="assets/vendors/cropper/dist/cropper.min.css ">
      <link rel="stylesheet" href="assets/vendors/iCheck/skins/flat/green.css ">
      <link rel="stylesheet" href="assets/vendors/google-code-prettify/bin/prettify.min.css ">
      <link rel="stylesheet" href="assets/vendors/select2/dist/css/select2.min.css ">
      <link rel="stylesheet" href="assets/vendors/switchery/dist/switchery.min.css ">
      <link rel="stylesheet" href="assets/vendors/starrr/dist/starrr.css ">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   </head>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <div ng-app="myApp" ng-controller="cntrl">
   <body class="nav-md" style="background-color: #141D22 !important; color: #141D22 !important;" >
      <div class="container body" style="background-color: #141D22 !important">
      <div class="main_container" style="background-color: #141D22 !important">
      <div class="col-md-3 left_col">
         <div class="left_col scroll-view" style="background-color: #141D22 !important">
            <div class="navbar nav_title" style="border: 0; background-color: #141D22 !important">
               <a href="#" class="site_title"><i class="fa fa-camera"></i> <span>Live</span></a>
            </div>
            <div class="clearfix"></div>
            <div class="profile">
                    <div class="profile_pic">
                       <img src="{{imgProfile}}" class="img-circle profile_img">
                    </div>
                    <div class="profile_info" style="color: white">
                        <b>Hi, {{userName}}</b>
                    </div>
            </div>
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
               <div class="menu_section">
                  <br><br><br>
                  <ul class="nav side-menu">
                    <li><a href="home.html"><i class="fa fa-home"></i>Home</a></li>
                     <li>
                        <a><i class="fa fa-home"></i> Report  <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                           <li><a href="report.html">List</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="top_nav">
         <div class="nav_menu">
            <nav>
               <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
               </div>
               <br><br><br>
            </nav>
         </div>
      </div>
      <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
      <div class="right_col" role="main">
         <div class="">
            <div class="page-title">
               <div class="title_left">
                  <h3 style="color: #141D22">Report</h3>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                     <div class="x_title">
                        <h2><small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                        </ul>
                        <div class="clearfix"></div>
                     </div>
                     <div class="x_content">
                        <br />
                              <div class="form-group">
                                  <div class="col-md-4 col-sm-4 col-xs-4" ng-show="counter != null">
                                        <h3>Top 20 Comment Ammount</h3>
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th>Name</th>
                                                    <th>Comment Amount</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="comment in counter">
                                                        <td>{{comment.name}}</td>
                                                        <td>{{comment.counter}}</td>
                                                    </tr>
                                                </tbody>
                                              </table>

                                  </div>
                                  <h3>Looking for anyone?</h3>
                                        <div class="col-md-8 col-sm-8 col-xs-8" ng-show="counter != null">
                                                <div class="input-group">
                                                        <input id="btn-input" type="text" ng-keyup="$event.keyCode == 13 ? searchAuthor() : null" class="form-control input-sm" placeholder="Type your message here..." />
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-warning btn-sm"  id="btn-chat" ng-click="searchAuthor()">
                                                        Search</button>
                                                        </span>
                                                </div>
                                        <div ng-show="search != null">
                                                <table class="table">
                                                        <thead>
                                                          <tr>
                                                            <th>Author</th>
                                                            <th>Comment</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="c in search">
                                                                <td>{{c.name}}</td>
                                                                <td>{{c.comment}}</td>
                                                            </tr>
                                                        </tbody>
                                                      </table>

                                        </div>
                                        
                                        

                                </div>
 
                                </div>
                        <script>

                            var app=angular.module('myApp',[]);
                            app.controller('cntrl', function($scope,$http){
                                $http.post("Controller.php",{'method':'verifySession'})
                                .success(function(data){
                                    if(data == "not found"){
                                    window.location = "login.html";
                                    }
                                    $scope.imgProfile = data.imgUrl;
                                    $scope.userName = data.nameUser;
                                    $scope.token = data.token;
                                
                                })
                                $http.post("Controller.php",{'method':'getReportCounter'})
                                .success(function(data){
                                $scope.counter = data;
                                google.charts.load('current', {'packages':['corechart']});
                                google.charts.setOnLoadCallback(drawChart);
                            })    
                            $scope.searchAuthor=function(){
                                author = document.getElementById("btn-input").value;
                                $http.post("Controller.php",{'method':'searchAuthor', 'author': author})
                                .success(function(data){
                                $scope.search=data
                                //$scope.displayStud();
                                })

                           }
                            });
                        </script>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
      <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
      <script src="assets/vendors/nprogress/nprogress.js"></script>
      <script src="assets/vendors/Chart.js/dist/Chart.min.js"></script>
      <script src="assets/vendors/gauge.js/dist/gauge.min.js"></script>
      <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
      <script src="assets/vendors/iCheck/icheck.min.js"></script>
      <script src="assets/vendors/skycons/skycons.js"></script>
      <script src="assets/vendors/Flot/jquery.flot.js"></script>
      <script src="assets/vendors/Flot/jquery.flot.pie.js"></script>
      <script src="assets/vendors/Flot/jquery.flot.time.js"></script>
      <script src="assets/vendors/Flot/jquery.flot.stack.js"></script>
      <script src="assets/vendors/Flot/jquery.flot.resize.js"></script>
      <script src="assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
      <script src="assets/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
      <script src="assets/vendors/flot.curvedlines/curvedLines.js"></script>
      <script src="assets/vendors/DateJS/build/date.js"></script>
      <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
      <script src="assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
      <script src="assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
      <script src="assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
      <script src="assets/root/js/moment/moment.min.js"></script>
      <script src="assets/root/js/datepicker/daterangepicker.js"></script>
      <script src="assets/build/js/custom.min.js"></script>
      <script src="assets/root/js/jquery.placepicker.js"></script>
      <script src="assets/root/js/filepicker.js"></script>
      <script src="assets/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
      <script>
         $(document).ready(function(){
             $('#world-map-gdp').vectorMap({
                 map: 'world_en',
                 backgroundColor: null,
                 color: '#ffffff',
                 hoverOpacity: 0.7,
                 selectedColor: '#666666',
                 enableZoom: true,
                 showTooltip: true,
                 values: sample_data,
                 scaleColors: ['#E6F2F0', '#149B7E'],
                 normalizeFunction: 'polynomial'
             });
         });
      </script>
      <script>
         $(document).ready(function() {
             var icons = new Skycons({
                 "color": "#73879C"
             }),
             list = [
                 "clear-day", "clear-night", "partly-cloudy-day",
                 "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                 "fog"
             ],
             i;
         
             for (i = list.length; i--;)
             icons.set(list[i], list[i]);
         
             icons.play();
         });
      </script>
      <script>
         $(document).ready(function(){
             var options = {
             legend: false,
             responsive: false
             };
         
             new Chart(document.getElementById("canvas1"), {
             type: 'doughnut',
             tooltipFillColor: "rgba(51, 51, 51, 0.55)",
             data: {
                 labels: [
                 "Symbian",
                 "Blackberry",
                 "Other",
                 "Android",
                 "IOS"
                 ],
                 datasets: [{
                 data: [15, 20, 30, 10, 30],
                 backgroundColor: [
                     "#BDC3C7",
                     "#9B59B6",
                     "#E74C3C",
                     "#26B99A",
                     "#3498DB"
                 ],
                 hoverBackgroundColor: [
                     "#CFD4D8",
                     "#B370CF",
                     "#E95E4F",
                     "#36CAAB",
                     "#49A9EA"
                 ]
                 }]
             },
             options: options
             });
         });
      </script>
      <script>
         $(document).ready(function() {
         
             var cb = function(start, end, label) {
             console.log(start.toISOString(), end.toISOString(), label);
             $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
             };
         
             var optionSet1 = {
             startDate: moment().subtract(29, 'days'),
             endDate: moment(),
             minDate: '01/01/2012',
             maxDate: '12/31/2015',
             dateLimit: {
                 days: 60
             },
             showDropdowns: true,
             showWeekNumbers: true,
             timePicker: false,
             timePickerIncrement: 1,
             timePicker12Hour: true,
             ranges: {
                 'Today': [moment(), moment()],
                 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                 'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                 'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                 'This Month': [moment().startOf('month'), moment().endOf('month')],
                 'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
             },
             opens: 'left',
             buttonClasses: ['btn btn-default'],
             applyClass: 'btn-small btn-primary',
             cancelClass: 'btn-small',
             format: 'MM/DD/YYYY',
             separator: ' to ',
             locale: {
                 applyLabel: 'Submit',
                 cancelLabel: 'Clear',
                 fromLabel: 'From',
                 toLabel: 'To',
                 customRangeLabel: 'Custom',
                 daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                 monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                 firstDay: 1
             }
             };
             $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
             $('#reportrange').daterangepicker(optionSet1, cb);
             $('#reportrange').on('show.daterangepicker', function() {
             console.log("show event fired");
             });
             $('#reportrange').on('hide.daterangepicker', function() {
             console.log("hide event fired");
             });
             $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
             console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
             });
             $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
             console.log("cancel event fired");
             });
             $('#options1').click(function() {
             $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
             });
             $('#options2').click(function() {
             $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
             });
             $('#destroy').click(function() {
             $('#reportrange').data('daterangepicker').remove();
             });
         });
      </script>
      <script>
         var opts = {
             lines: 12,
             angle: 0,
             lineWidth: 0.4,
             pointer: {
                 length: 0.75,
                 strokeWidth: 0.042,
                 color: '#1D212A'
             },
             limitMax: 'false',
             colorStart: '#1ABC9C',
             colorStop: '#1ABC9C',
             strokeColor: '#F0F3F3',
             generateGradient: true
         };
         var target = document.getElementById('foo'),
             gauge = new Gauge(target).setOptions(opts);
         
         gauge.maxValue = 6000;
         gauge.animationSpeed = 32;
         gauge.set(3200);
         gauge.setTextField(document.getElementById("gauge-text"));
      </script>
      <footer>
          <div class="pull-right">
            Carlos Santos
          </div>
          <div class="clearfix"></div>
      </footer>
    </div>
  </div>
</body>
</html>